/********** Template CSS **********/
:root {
    --primary: #3CB815;
    --secondary: #F65005;
    --light: #F7F8FC;
    --dark: #111111;
}


/*** Section Header ***/
.section-header {
    position: relative;
    padding-top: 25px;
}

.section-header::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
}

.section-header::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--secondary);
}

.section-header.text-start::before,
.section-header.text-start::after {
    left: 0;
    transform: translateX(0);
}

/*Aqui empieza*/
/*c. Sección Mejores Frutas:*/

.flex-contenedor {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-align: center;
}
  
.flex-item-left {
    padding: 10px;
    flex: 50%;
}

.flex-item-right 
{
    padding: 10px;
    flex: 50%;
}

/*Nos caracteriza*/
.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.features-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.feature-item {
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

